@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text !important
	background-image: url(../img/bgi.jpg)
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

.navbar
	border: none !important
	border-radius: 0 !important
	height: 100px !important
	justify-content: flex-start !important

.navbar-bg
	background-color: rgba(34, 35,37, .4)
	margin-bottom: 10%
	.head-menu
		font-size: 2.7rem
		margin-left: 3%
		color: #9b7914
		font-weight: bold

.contain
	max-width: 25%
	width: 20%
	margin: 0 0 0 5%

.main-menu
	margin-left: 5%
	font-size: 2rem
	font-weight: bolder
	text-transform: uppercase
	line-height: 1em
	white-space: nowrap
	transform: translate3D(0, 0, 0)
.position-menu
	display: block
	position: relative
	height: 2em
	line-height: 0.9em
	width: 0%
	border-top: 0.05em solid transparent
	transition: all 0.5s ease-in-out
.position-menu:hover
	border-top: 0.05em solid #9b7914
	cursor: pointer
	width: 100%
.position-menu:after, .position-menu:before
	content: attr(data-display)
	position: absolute
	top: 0em
	left: 1em
	width: auto
	height: 1em
	transform: translateY(-50%)
	transition: all 0.25s ease-in-out
	overflow: hidden
	color: transparent
.position-menu:before
	text-shadow: 0px 0.5em #cdcdcd
	top: -0.45em
.position-menu:after
	top: 0.5em
	text-shadow: 0px -0.5em #cdcdcd
.position-menu:hover:before
	text-shadow: 0px 0.5em #9b7914
	left: 1.25em
.position-menu:hover:after
	text-shadow: 0px -0.5em #9b7914
	left: 0.75em

.second-menu
	margin-left: 5%
	font-size: 2rem
	font-weight: bolder
	text-transform: uppercase
	line-height: 1em
	white-space: nowrap
	transform: translate3D(0, 0, 0)
	input
		display: none
	label
		display: block
		cursor: pointer


@import "media" // Always at the end
